/* Header's first nav related styles */

body{
    margin: 0;
    font-family: 'Mulish', sans-serif;
}
header{
    padding: 20px;
}
.logo{
    width: 30px;
    margin-right: 5px;
}
.dream{
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.destiny{
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
header nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    padding-left: 8px;
}
header nav ul li{
    margin-right: 10px;
    color:  #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/* Banner related styles */

.banner-content{
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("/Images/Group\ 13\ \(1\)\ \(1\).png");
    width: 1170px;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-items{
    display: grid;
    grid-template-columns: 1fr;
}
.banner-title{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 24px;
    text-align: center;
}
.banner-description {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom: 40px;
}
.banner-options {
    display: flex;
    display: inline-flex;
    padding: 16px;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.banner-options input[type="text"], select{

    color: rgba(19, 19, 24, 0.50);
    text-align: left;
    padding-left: 15px;
    font-size: 16px;
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    border: 0;
}
.btn-primary{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    border: 0;
}
.search-table{
    width: 13px;
}

/* Main section related styles */

main{
    margin: 100px 0;
    padding: 20px;
}

.tour-desk {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
}
.tour-description {
    width: 50%;
}
.tour-description ul{
    padding-left: 20px;
}
.description-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 18px; 
}
.tour-desk-photo {
    width: 540px;
    height: 500px;
    margin-top: 35px;
    background-position: center;
    border-radius: 16px;
    background: url('/Images/Rectangle\ 4.png'), lightgray 50% / cover no-repeat;
}
.btn-secondary {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal; 
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    /* flex-shrink: 0; */
}